doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body(class='#{bodyClasses}')
    .border-bottom.border-blue.p1.clearfix
      .right
        if isLoggedIn
          a.blue.bold.text-decoration-none.pr3(href='/entries')  My Entries
          a.blue.bold.text-decoration-none(href='/users/logout')  Logout
        else
          a.blue.bold.text-decoration-none(href='/users/login')  Login

    block content
