doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body(class='#{bodyClasses}')
    .border-bottom.border-navy.p1.clearfix
      .right
        if isLoggedIn
          a.navy.bold.text-decoration-none.pr3(href='/entries') My Entries
          a.navy.bold.text-decoration-none(href='/users/logout') Logout
        else
          a.navy.bold.text-decoration-none.pr3(href='/users/Signup') Signup
          a.navy.bold.text-decoration-none(href='/users/login') Login

    block content
