extends layout


block content
  - var images = ['http://www.ca2016.com/uploads/02/00/Teams_Marquee-1600x_.jpg', 'http://www.ca2016.com/uploads/14/12/HAI_Kervens_Belfort01_-_For_the_Marquee-1600x_.jpeg', 'http://www.ca2016.com/uploads/11/05/Marquee_Image-1600x_.jpg', 'http://img.uefa.com/imgml/2016/euro/common-elements/watermark_x2.png']

  .h1.white(style={
    'background-image':`url('${images[Math.floor(Math.random() * images.length)]}')`,
    'text-shadow': '1px 1px 1px #111, -1px 1px 1px #111, -1px -1px 1px #111, 1px -1px 1px #111',
    'background-repeat':'no-repeat'}).center.p4.bold.border-bottom.border-navy Leaderboard for #{tournament['name']}

  - var position = 1
  - var size = '3em'

  each entry in tournament.entries.sort(function (entryA, entryB) {return entryB.totalPoints - entryA.totalPoints })
    .clearfix
      .col.col-12.align-middle.flex.py1
        .col.col-1.right-align.pr2.self-center #{position}.
        .col.col-3.self-center
          = entry['name'] + ' (' + entry['user']['email'] + ') '
        .col.col-6.h3.flex.flex-wrap
          - var maxPicks = 8
          - for (var i = 0; i < maxPicks; i++)
            - var pick = entry.picks.find(function(p) {return p.position === i + 1})
            .bold.center.flex-auto
              if pick
                .border.border-gray.white(style={
                  width:size,
                  height:size,
                  'line-height':size,
                  'text-shadow': '1px 1px 1px #111, -1px 1px 1px #111, -1px -1px 1px #111, 1px -1px 1px #111',
                  'background-image': 'url(#{pick.tournamentParticipant.country.flag_url})',
                  'background-size': 'cover',
                  'background-repeat': 'no-repeat',
                  'background-position': 'center',
                  'border-radius': '50%'})= pick['tournamentParticipant']['country_id']
              else
                div(style={width:size, height:size, 'line-height':size}) ???
        div.col.col-1.self-center.right-align.h2.bold
          = entry.totalPoints
    - position++
